@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #181818;
  --secondary-color: #202020;
  --text-color: #ffffff;
  --accent-one-color: #66b2ff;
  --accent-two-color: #a1a1a1;
  --font-head: 'Montserrat', sans-serif;
  --font-accent: 'Roboto Mono', monospace;
  --font-p: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.contact-text {
  font-size: clamp(1.5rem, 5vw, 2.5rem);
  width: 70%;
  text-align: center;
  align-content: center;
  background-color: var(--text-color);
}

.main-bento {
  display: grid;
}

h1 {
  font-family: var(--font-head);
}

h3 {
  font-family: var(--font-accent);
}

p {
  font-family: var(--font-p);
}

.contact-sec {
  & a:hover {
    rotate: 2deg;
    transform: scale(1.1);
  }
}



.tech-icon {
  width: clamp(70px, 10vw, 100px);
  height: clamp(70px, 10vw, 100px);
  padding: .5rem;
  border-radius: 10px;
}

.tech-txt{
  position: absolute;
  bottom: -40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text-color);
  font-family: var(--font-accent);
  display: none;
}

@media (min-width: 768px) {
  .main-bento>* {
    width: 100%;
    height: 100%;
  }
}