@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #181818;
  --secondary-color: #202020;
  --text-color: #ffffff;
  --accent-one-color: #66b2ff;
  --accent-two-color: #a1a1a1;
  --font-head: 'Montserrat', sans-serif;
  --font-accent: 'Roboto Mono', monospace;
  --font-p: 'Inter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html,
body {
  width: 100vw;
  height: 100vh;
  background-color: var(--primary-color);
  color: var(--text-color);
}

/* tailwind custom classes */
@layer utilities {
  .contact-text {
    @apply sm:text-[35px] lg:text-[55px] content-center text-center
  }
}

.main-bento {
  display: grid;
}

h1 {
  font-family: var(--font-head);
}

h3 {
  font-family: var(--font-accent);
}

p {
  font-family: var(--font-p);
}